<p id="notice"><%= notice %></p>

<h1>Listing Reagents</h1>

<table>
  <thead>
    <tr>
      <th>Name______</th>
      <th>Formula______</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reagents.each do |reagent| %>
      <tr>
        <td><%= reagent.name %></td>
        <td><%= reagent.formula %></td>
        <td><%= reagent.quantity %></td>
        
        <td><%= link_to '   || Show |', reagent %></td>
        <td><%= link_to '| Edit |', edit_reagent_path(reagent) %></td>
        <td><%= link_to '| Destroy ||', reagent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reagent', new_reagent_path %>
