<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @reagent.name %>
</p>

<p>
  <strong>Fórmula:</strong>
  <%= @reagent.formula %>
</p>


<%= link_to 'Edit', edit_reagent_path(@reagent) %> |
<%= link_to 'Back', reagents_path %>
