<p id="notice"><%= notice %></p>
<div class="content">
  <h1>Reagentes</h1>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-3"><%= link_to 'olar', public_reagents_path(order: 'ASC', attr: 'name') %></div>
    </div>
    <table class="col-sm-12">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Fórmula</th>
          <th>Quantidade</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @reagents.each do |reagent| %>
          <tr>
            <td><%= reagent.name %></td>
            <td><%= reagent.formula %></td>
            <td><%= "#{reagent.quantity} #{reagent.unit}" %></td>
            <td>
              <%= link_to 'Mostrar', reagent, :class => 'btn btn-default btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  <%= link_to 'Adicionar novo', new_reagent_path %>
  </div>
</div>
